body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ck.ck-editor__editable_inline {
  border: 1px solid black !important;
  overflow: auto !important;
  padding: 0 var(--ck-spacing-standard) !important;
  /* height: 17cm !important; */
  margin-top: 24px !important;
}

.ck-editor__editable_inline {
  border: 1px solid var(--ck-color-base-border);
  border-radius: var(--ck-border-radius);
  /* Set vertical boundaries for the document editor. */
  max-height: 700px;
  /* This element is a flex container for easier rendering. */
  display: flex;
  flex-flow: column nowrap;
}
.ck.ck-toolbar {
  margin-bottom: 30px;
}
.ck-editor__editable_inline {
  /* Set the dimensions of the "page". */
  width: 597.165354331px;
  min-height: 773.700787402px;
  /* Keep the "page" off the boundaries of the container. */
  padding: 37px 79px 79px;
  border: 1px hsl(0, 0%, 82.7%) solid;
  border-radius: var(--ck-border-radius);
  background: #fff !important;
  /* The "page" should cast a slight shadow (3D illusion). */
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);
  /* Center the "page". */
  margin: 0 auto;
}
